<suite name="SDET Suite" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="listeners.TestListener" />
	</listeners>
	<test name="UI">
		<packages>
			<package name="tests.ui" />
		</packages>
	</test>

	<test name="API">
		<packages>
			<package name="tests.api" />
		</packages>
	</test>

</suite>
